/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%;
    width: 100%;
}

body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 16px;
}

input[type="text"] {
    font-size: inherit;
  }

.mat-stroked-button {
    width: 80%;
}

/* .app-card {
    max-width: 400px;
} */

app-private{
    width: 80%;
  }

