<!--
   Copyright 2019 Amazon.com, Inc. or its affiliates. All Rights Reserved.
   SPDX-License-Identifier: MIT-0 x
-->
<!-- <mat-grid-list cols="1" rowHeight="fit" class="grid-layout-custom"> -->
<!-- <mat-grid-tile> -->

<div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center" fxLayoutAlign.xs="start center">
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Wohnen und Wohlfühlen im Ostseebad Boltenhagen</mat-card-title>
            <mat-card-subtitle>mit ca. 500qm großes Grundstück</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/house_title_small.png" alt="Karte">
        <mat-card-content>
            <p>
                Das erste Objekt (A) ist ein mit einem Wohnhaus bebautes, ca. 500qm großes Grundstück
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
        </mat-card-actions>
    </mat-card>
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Idyllisches Baugrundstück im Ostseebad Boltenhagen</mat-card-title>
            <mat-card-subtitle>ca. 500qm großes Grundstück</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/land_title_small.png" alt="Karte">
        <mat-card-content>
            <p>
                Das erste Objekt (A) ist ein mit einem Wohnhaus bebautes, ca. 500qm großes Grundstück
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
        </mat-card-actions>
    </mat-card>
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
        </mat-card-actions>
    </mat-card>
</div>
<mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
        <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
    </mat-card-actions>
</mat-card>
<mat-menu #menu="matMenu">
    <button mat-menu-item (click)="signOut()">
        <div fxFlex></div>
        <div *ngIf="!(busy | async)">Abmelden</div>
        <mat-spinner *ngIf="busy | async" [diameter]="35"></mat-spinner>
        <div fxFlex></div>
    </button>
    <button mat-menu-item (click)="openDialog()">
        <div fxFlex></div>
        <div *ngIf="!(busy | async)">{{widerrufButtonText}}</div>
        <mat-spinner *ngIf="busy | async" [diameter]="35"></mat-spinner>
        <div fxFlex></div>
    </button>
</mat-menu>

<mat-toolbar>

    <mat-button-toggle-group name="fontStyle" aria-label="Font Style" value="immo1">
        <mat-button-toggle (click)="pdf1()" value="immo1"><b>A: </b>Grundstück + Haus
        </mat-button-toggle>
        <mat-button-toggle (click)="pdf2()" value="immo2"><b>B: </b>Baugrundstück</mat-button-toggle>
    </mat-button-toggle-group>
    <span class="example-spacer"></span>

    <mat-spinner *ngIf="!(pdfBusy | async)" [color]='"Basic"' [diameter]="35"></mat-spinner>
    <span class="example-spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu" class="example-icon"
        aria-label="Example icon-button with menu icon">
        <mat-icon>account_circle</mat-icon>

    </button>

</mat-toolbar>

<mat-card class="mat-elevation-z0 custom" ngClass="app-card">
    <mat-card-content>
        <div fxLayout="column" fxLayoutAlign="center center"> <span><a
                    href='https://planungsbuero-schulz.de/#kontakt-impressum' target="_blank">Impressum</a> | <a
                    href='https://planungsbuero-schulz.de/?page_id=286' target="_blank">Datenschutzerklärung</a></span>
        </div>


    </mat-card-content>
</mat-card>