/*
   Copyright 2019 Amazon.com, Inc. or its affiliates. All Rights Reserved.
   SPDX-License-Identifier: MIT-0
*/

.main {
    /* background-color: red; */
    /* border-style: solid; */
    /* border-color: red; */
    /* min-height: 95vh; */
    min-height:85vh; 
    /* max-height:95vh; */
    /* height: 100vh; */

    min-width: 100%;
    top: 10px;
    /* bottom: 10px; */
}
