/*
   Copyright 2019 Amazon.com, Inc. or its affiliates. All Rights Reserved.
   SPDX-License-Identifier: MIT-0
*/
 
:host::ng-deep.mat-checkbox-layout{
   white-space: normal !important;
   }
   
:host::ng-deep.mat-checkbox-inner-container{
       margin-top: 4px;
   }

.right-aligned-header > .mat-content {
      justify-content: space-between;
  }

mat-panel-description {
   flex: 0 0 auto;
}