<!--
   Copyright 2019 Amazon.com, Inc. or its affiliates. All Rights Reserved.
   SPDX-License-Identifier: MIT-0
-->

<title-card></title-card>
<!-- <mat-card class="mat-elevation-z0 custom" fxFlex="1 1 auto" ngClass="app-card" class="app-card"> -->

<mat-card class="mat-elevation-z0 custom" ngClass="app-card">

  <mat-card-header>
    <mat-icon mat-card-avatar>lock</mat-icon>
    <mat-card-title>Bitte registrieren Sie sich</mat-card-title>
    <mat-card-subtitle>Danach erhalten Sie Zugriff auf das Exposé</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <span class="mat-h4">Provisionshinweis</span>
    <p>
      Um das vollständige Exposé einsehen zu können, ist Ihre Zustimmung notwendig.
      Die genaue Angaben zur Provision entnehmen Sie bitte der erforderlichen Einwilligung (Checkbox weiter unten).
    </p>
    <span class="mat-h4">Widerrufsbelehrung</span>
    <mat-expansion-panel [expanded]="true" (opened)="panelOpenState1 = true" (closed)="panelOpenState1 = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Widerrufsrecht
        </mat-panel-title>
        <mat-panel-description>
          {{panelOpenState1 ? '' : 'Bitte Lesen!'}}
        </mat-panel-description>
      </mat-expansion-panel-header>

      <p>
        Sie haben das Recht, binnen vierzehn Tagen ohne Angabe von Gründen diesen Vertrag zu widerrufen.
        Die Widerrufsfrist beträgt vierzehn Tage ab dem Tag des Vertragsabschlusses.
      </p>
      <p>
        Um Ihr Widerrufsrecht auszuüben, müssen Sie uns<br>
        Planungsbüro G. Schulz<br>
        An der Pferdekoppel 3<br>
        23972 Dorf Mecklenburg<br>
        Tel./Fax/Mobil.: 03841/6206611<br>
        E-Mail: ostsee@planungsbuero-schulz.de<br>
        mittels einer eindeutigen Erklärung (z. B. ein mit der Post versandter
        Brief, Telefax oder E-Mail) über Ihren Entschluss, diesen Vertrag zu
        widerrufen, informieren. Sie können dafür das beigefügte
        Muster-Widerrufsformular verwenden, das jedoch nicht
        vorgeschrieben ist.
      </p>
      <p>
        Alternativ können Sie auch nach der Anmeldung den entsprechenden Knopf "{{wiederrufButtonText}}" klicken
        und
        somit formlos
        von Ihrem Widerrufsrecht gebrauch machen.<br>
      </p>
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="false" (opened)="panelOpenState2 = true" (closed)="panelOpenState2 = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Folgen des Widerrufs
        </mat-panel-title>
        <mat-panel-description>
          {{panelOpenState2 ? '' : 'Bitte Lesen!'}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Wenn Sie diesen Vertrag widerrufen, haben wir Ihnen alle Zahlungen, die wir von Ihnen erhalten haben,
        einschließlich der
        Lieferkosten (mit Ausnahme der zusätzlichen Kosten, die sich
        daraus ergeben, dass sie eine andere Art der Lieferung als die von
        uns angebotene günstigste Standardlieferung gewählt haben),
        unverzüglich und spätestens binnen vierzehn Tagen ab dem Tag
        zurückzuzahlen, an dem die Mitteilung über Ihren Widerruf dieses
        Vertrags bei uns eingegangen ist. Für diese Rückzahlung verwenden
        wir dasselbe Zahlungsmittel, das Sie bei der ursprünglichen Trans-
        aktion eingesetzt haben, es sei denn, mit Ihnen wurde ausdrücklich
        etwas anderes vereinbart; in keinem Fall werden Ihnen wegen
        dieser Rückzahlung Entgelte berechnet.
      </p>
      <p>
        Haben Sie verlangt, dass die Dienstleistung während der Widerrufs-
        frist beginnen soll, so haben Sie uns einen angemessenen Betrag
        zu zahlen, der dem Anteil der bis zu dem Zeitpunkt, zu dem Sie uns
        von der Ausübung des Widerrufsrechts hinsichtlich dieses Vertrags
        unterrichten, bereits erbrachten Dienstleistungen im Vergleich zum
        Gesamtumfang der im Vertrag vorgesehenen Dienstleistungen
        entspricht.</p>
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="false" (opened)="panelOpenState3 = true" (closed)="panelOpenState3 = false">
      <mat-expansion-panel-header class="right-aligned-header">
        <mat-panel-title>
          Muster-Widerrufsformular
        </mat-panel-title>
        <mat-panel-description>
          {{panelOpenState3 ? '' : 'Bitte Lesen!'}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Wenn Sie den Vertrag widerrufen wollen, dann füllen Sie
        bitte dieses Formular aus und senden Sie es zurück.
      </p>
      <p>
        An:<br>
        Planungsbüro G. Schulz<br>
        An der Pferdekoppel 3<br>
        23972 Dorf Mecklenburg<br>
      </p>
      <p>
        Tel./Fax/Mobil.: 03841/6206611<br>
        E-Mail: ostsee@planungsbuero-schulz.de<br>
      </p>
      <p>
        Hiermit widerrufe(n) ich/wir (*) den von mir/uns (*)<br>
        abgeschlossenen Vertrag über den Kauf der folgenden Waren (*)/<br>
        die Erbringung der folgenden Dienstleistung (*)<br>
        Bestellt am (*)/erhalten am (*)<br>
        Name des/der Verbraucher(s)<br>
        Anschrift des/der Verbraucher(s)<br>
        Unterschrift des/der Verbraucher(s) (nur bei Mitteilung auf Papier)<br>
        Datum
      </p>
      <p>
        (*) Unzutreffendes bitte streichen
      </p>
      <p>
        Alternativ können Sie auch nach der Anmeldung den entsprechenden Knopf "{{wiederrufButtonText}}" klicken
        und
        somit formlos
        von Ihrem Widerrufsrecht gebrauch machen.<br>
      </p>
    </mat-expansion-panel>


    <form fxLayout="column">
      <br><br>
      <mat-checkbox [formControl]="widerrufsbelehrung" color="primary" required class="form-check-input"><span>*
        </span>Ich habe die
        Widerrufsbelehrung
        vollständig gelesen
        und verstanden.</mat-checkbox>
      <mat-error class="form-control-feedback"
        *ngIf="widerrufsbelehrung.errors && (widerrufsbelehrung.dirty || widerrufsbelehrung.touched)">
        <p *ngIf="widerrufsbelehrung.errors.required">Um fortzufahren, müssen Sie hier bestätigen.</p>
      </mat-error>
      <span>
        <mat-checkbox [formControl]="provisionspflichtig" color="primary" required>
          <div><span>* </span>Die angebotene Immobilie ist provisionspflichtig. Mit dem
            Anklicken
            dieser Checkbox
            bestätige ich den Provisionshinweis und bezahle für den Fall, dass ich diese Immobilie
            erweben werde eine Provision in Höhe von 3,0% Käufer-Provision inkl. MwSt vom Kaufpreis,
            verdient und Fällig bei notarieller Beurkundung.</div>
        </mat-checkbox>
        <mat-error class="form-control-feedback"
          *ngIf="provisionspflichtig.errors && (provisionspflichtig.dirty || provisionspflichtig.touched)">
          <p *ngIf="provisionspflichtig.errors.required">Um fortzufahren, müssen Sie hier bestätigen.</p>
        </mat-error>
      </span>
      <mat-checkbox [formControl]="zugriff" color="primary" required>* Ich bin einverstanden und verlange ausdrücklich,
        dass
        Sie mir
        Zugriff auf das Exposé vor Ende der Widerrufsfrist gewähren und damit
        mit der Ausführung der beauftragten Dienstleistung beginnen.
        Mir ist bekannt, dass ich bei vollständiger Vertragserfüllung
        durch Sie, die bereits in der Gewährung des Zugriffs auf das Exposés liegen
        kann, mein Widerrufsrecht verliere.</mat-checkbox>
      <mat-error class="form-control-feedback" *ngIf="zugriff.errors && (zugriff.dirty || zugriff.touched)">
        <p *ngIf="zugriff.errors.required">Um fortzufahren, müssen Sie hier bestätigen.</p>
      </mat-error>
      <br>
      <mat-form-field>
        <input matInput placeholder="Name" [formControl]="fullName" name="full-name" autocomplete="full-name"
          required />
      </mat-form-field>
      <mat-error class="form-control-feedback" *ngIf="fullName.errors && (fullName.dirty || fullName.touched)">
        <p *ngIf="fullName.errors.required">Der Name muss angegeben werden.</p>
      </mat-error>
      <!-- <mat-form-field>
        <input matInput placeholder="Nachname" [formControl]="familyName" name="family-name" autocomplete="family-name"
          required />
      </mat-form-field>
      <mat-error class="form-control-feedback" *ngIf="familyName.errors && (familyName.dirty || familyName.touched)">
        <p *ngIf="familyName.errors.required">Der Nachname muss angegeben werden.</p>
      </mat-error> -->
      <mat-form-field>
        <input matInput placeholder="E-mail" [formControl]="email" type="email" email name="email"
          autocomplete="username email" ngModel [email]="true" required />
      </mat-form-field>
      <mat-error class="form-control-feedback" *ngIf="email.errors && (email.dirty || email.touched)">
        <p *ngIf="email.errors.required">Die E-Mail muss angegeben werden.</p>
        <p *ngIf="email.errors.pattern">The E-Mail-Adresse muss mindestens das @-Zeichen enthalten.</p>
        <!-- <p *ngIf="email.errors.emailDomain">Email must be on the codecraft.tv domain</p> -->
      </mat-error>
    </form>
  </mat-card-content>

  <mat-card-actions>
    <div fxFlex></div>
    <button mat-raised-button [color]="buttonColor" (mouseover)="buttonColor = 'accent'"
      (mouseout)="buttonColor = 'primary'" (click)="signup()">
      <div fxFlex></div>
      <div *ngIf="!(busy | async)">Registrierung abschliessen</div>
      <mat-spinner *ngIf="busy | async" [diameter]="35"></mat-spinner>
      <div fxFlex></div>
    </button>
    <div fxFlex></div>
  </mat-card-actions>

  <p *ngIf="errorMessage | async">{{ errorMessage | async }}</p>

  <mat-card-content>
    <div fxFlex></div>
    <p>Schon registriert? <a routerLink='/sign-in' routerLinkActive="active">Anmelden</a></p>
  </mat-card-content>

</mat-card>