<!--
   Copyright 2019 Amazon.com, Inc. or its affiliates. All Rights Reserved.
   SPDX-License-Identifier: MIT-0
-->
<title-card></title-card>
<!-- <mat-card class="mat-elevation-z0" ngClass="app-card">
    <img class="logo" src="assets/cropped-logo5-H100px.png" />
    <div class="cont">
        <div class="title mat-h1 ">Ein Traum an der Ostsee</div>
        <div class="subtitle mat-h4 ">Ein Immobilienangebot vom Planungsbüro G. Schulz</div>
    </div>
</mat-card>
<mat-divider></mat-divider> -->



<!-- <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon>favorite</mat-icon>
</button> -->
<mat-menu #menu="matMenu">
    <button mat-menu-item (click)="signOut()">
        <div fxFlex></div>
        <div *ngIf="!(busy | async)">Abmelden</div>
        <mat-spinner *ngIf="busy | async" [diameter]="35"></mat-spinner>
        <div fxFlex></div>
    </button>
    <button mat-menu-item (click)="openDialog()">
        <div fxFlex></div>
        <div *ngIf="!(busy | async)">{{widerrufButtonText}}</div>
        <mat-spinner *ngIf="busy | async" [diameter]="35"></mat-spinner>
        <div fxFlex></div>
    </button>
</mat-menu>

<mat-card ngClass="app-card">


    <mat-card-content>
        <mat-card-title>
            Wohnen im Ostseebad Boltenhagen
        </mat-card-title>
        <p>
            Zum Verkauf stehen zwei aneinander angrenzende Objekte in Boltenhagen.
        </p>

        <img class="private-image" mat-card-image src="assets/dop1-elg.png" />
        <mat-card-subtitle class="private-image-tag">© GeoBasis-DE/M-V</mat-card-subtitle>
        <p>
            Die Objekte befinden sich am Rand von Boltenhagen in Strandnähe und mit unverbauten Blick nach Nordwesten.
        </p>
        <img class="private-image" mat-card-image src="assets/dop1-lg.png" />
        <mat-card-subtitle class="private-image-tag">© GeoBasis-DE/M-V</mat-card-subtitle>
        <p>
            Das erste Objekt (A) ist ein mit einem Wohnhaus bebautes, ca. 500qm großes Grundstück.
        </p>
        <p>
            Direkt angrenzend befindest sich die zweite Immobilie (B), ein ebenfalls ca. 500qm großes Baugrundstück.

        </p>
        <img class="private-image" mat-card-image src="assets/dop1.png" />
        <mat-card-subtitle class="private-image-tag">© GeoBasis-DE/M-V</mat-card-subtitle>
    </mat-card-content>

</mat-card>

<mat-card class="mat-elevation-z0" ngClass="app-card">
    <mat-card-title>
        Exposés
    </mat-card-title>

    <mat-card-content class="custom-private">
        <p>
            Bitte haben Sie etwas Geduld, das Laden der Exposés kann einige Sekunden in Anspruch nehmen.
        </p>
        <p>
            Sie können mit den Schaltflächen "A: Grundstück + Haus" und "B: Baugrundstück" zwischen den Exposés
            wechseln. Mit dem Menü-Knopf am rechten Rand können sich abmelden oder einen Wiederruf des Vertrags
            auslösen.
        </p>

    </mat-card-content>
    <!-- <mat-card-actions>
        <div fxFlex></div>
        <button mat-stroked-button [color]="buttonColor1" (click)="signOut()">
            <div fxFlex></div>
            <div *ngIf="!(busy | async)">Abmelden</div>
            <mat-spinner *ngIf="busy | async" [diameter]="35"></mat-spinner>
            <div fxFlex></div>
        </button>
        <div fxFlex></div>
    </mat-card-actions>

    <mat-card-actions>
        <div fxFlex></div>
        <button mat-stroked-button [color]="buttonColor2" (click)="openDialog()">
            <div fxFlex></div>
            <div *ngIf="!(busy | async)">{{widerrufButtonText}}</div>
            <mat-spinner *ngIf="busy | async" [diameter]="35"></mat-spinner>
            <div fxFlex></div>
        </button>
        <div fxFlex></div>
    </mat-card-actions> -->
</mat-card>

<mat-toolbar>

    <mat-button-toggle-group name="fontStyle" aria-label="Font Style" value="immo1">
        <mat-button-toggle (click)="pdf1()" value="immo1"><strong style="font-size:18px;margin-bottom: 50px;">A:
            </strong>Grundstück + Haus
        </mat-button-toggle>
        <mat-button-toggle (click)="pdf2()" value="immo2"><b>B: </b>Baugrundstück</mat-button-toggle>
    </mat-button-toggle-group>
    <span class="example-spacer"></span>
    <!-- <span *ngIf="!(pdfBusy | async)" [style.margin-right]="'6px'">Exposé lädt...</span> -->
    <mat-spinner *ngIf="!(pdfBusy | async)" [color]='"Basic"' [diameter]="35"></mat-spinner>
    <span class="example-spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu" class="example-icon"
        aria-label="Example icon-button with menu icon">
        <mat-icon>account_circle</mat-icon>
        <!--mat-icon>menu</mat-icon> -->
    </button>
    <!-- <span>Abmelden / Wiederruf</span> -->
    <!-- <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
    </button> -->
</mat-toolbar>
<!-- <mat-card class="card-pdf" ngClass="app-card"> -->

<!-- <mat-toolbar>
        <button mat-raised-button [color]="pdfButtonColor1" (click)="pdf1()" class="pdf-button"
            aria-label="1 Grundstück + Haus Exposé laden">
            Gründstück + Haus
        </button>
        <mat-divider [vertical]="true"></mat-divider>
        <button mat-raised-button [color]="pdfButtonColor1" (click)="pdf2()" class="pdf-button"
            aria-label="2 Gründstück Exposé laden">
            Gründstück
        </button>
    </mat-toolbar> -->
<!-- 
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style" value="immo1">
        <mat-button-toggle (click)="pdf1()" value="immo1">Gründstück + Haus</mat-button-toggle>
        <mat-button-toggle (click)="pdf2()" value="immo2">Gründstück</mat-button-toggle>
    </mat-button-toggle-group> -->
<!-- <mat-toolbar>
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style" value="immo1">
            <mat-button-toggle (click)="pdf1()" value="immo1">Gründstück + Haus</mat-button-toggle>
            <mat-button-toggle (click)="pdf2()" value="immo2">Gründstück</mat-button-toggle>
        </mat-button-toggle-group>
        <span class="example-spacer"></span>
        <mat-card-actions>
            <div fxFlex></div>
            <button mat-stroked-button [color]="buttonColor1" (click)="signOut()">
                <div fxFlex></div>
                <div *ngIf="!(busy | async)">Abmelden</div>
                <mat-spinner *ngIf="busy | async" [diameter]="35"></mat-spinner>
                <div fxFlex></div>
            </button>
            <div fxFlex></div>
        </mat-card-actions>

        <mat-card-actions>
            <div fxFlex></div>
            <button mat-stroked-button [color]="buttonColor2" (click)="openDialog()">
                <div fxFlex></div>
                <div *ngIf="!(busy | async)">{{widerrufButtonText}}</div>
                <mat-spinner *ngIf="busy | async" [diameter]="35"></mat-spinner>
                <div fxFlex></div>
            </button>
            <div fxFlex></div>
        </mat-card-actions>
    </mat-toolbar> -->


<expose1-content-pdf (pdfRendered)="pdfRendered($event)" [pdfSrc]="pdfSrc"></expose1-content-pdf>
<mat-toolbar>
    <button mat-stroked-button [color]="buttonColor1" (click)="signOut()">
        <div fxFlex></div>
        <div *ngIf="!(busy | async)">Abmelden</div>
        <mat-spinner *ngIf="busy | async" [diameter]="35"></mat-spinner>
        <div fxFlex></div>
    </button>
    <span class="example-spacer"></span>
    <button mat-stroked-button [color]="buttonColor2" (click)="openDialog()">
        <div fxFlex></div>
        <div *ngIf="!(busy | async)">{{widerrufButtonText}}</div>
        <mat-spinner *ngIf="busy | async" [diameter]="35"></mat-spinner>
        <div fxFlex></div>
    </button>
</mat-toolbar>

<!-- <mat-card-content>
        <expose1-content-pdf></expose1-content-pdf>
    </mat-card-content> -->

<!-- <mat-card-header>
        <mat-icon mat-card-avatar>lock</mat-icon>
        <mat-card-title>Private</mat-card-title>
        <mat-card-subtitle>This is the information on your user
            that is stored in the Amazon Cognito User Pool</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <form [formGroup]="userDetailsForm" fxLayout="column">
            <div *ngFor="let detail of (userDetails | async)" fxLayout="row">
                <mat-form-field fxFlex>
                    <input matInput readonly placeholder="{{ detail.Name }}" [formControlName]="detail.Name">
                </mat-form-field>
            </div>
            <div>
                <div fxFlex></div>
                <mat-spinner *ngIf="busy | async" [diameter]="35"></mat-spinner>
                <div fxFlex></div>
            </div>
        </form>
    </mat-card-content> -->


<!-- <mat-card-actions>
        <div fxFlex></div>
        <button mat-raised-button [color]="buttonColor1" (mouseover)="buttonColor1 = 'accent'"
            (mouseout)="buttonColor1 = 'primary'" (click)="signOut()">
            <div fxFlex></div>
            <div *ngIf="!(busy | async)">Abmelden</div>
            <mat-spinner *ngIf="busy | async" [diameter]="35"></mat-spinner>
            <div fxFlex></div>
        </button>
        <div fxFlex></div>
    </mat-card-actions>

    <mat-card-actions>
        <div fxFlex></div>
        <button mat-raised-button [color]="buttonColor2" (mouseover)="buttonColor2 = 'accent'"
            (mouseout)="buttonColor2 = 'primary'" (click)="openDialog()">
            <div fxFlex></div>
            <div *ngIf="!(busy | async)">Benutzer löschen / Wiederruf</div>
            <mat-spinner *ngIf="busy | async" [diameter]="35"></mat-spinner>
            <div fxFlex></div>
        </button>
        <div fxFlex></div>
    </mat-card-actions> -->

<p class="error-message" *ngIf="errorMessage | async">{{ errorMessage | async }}</p>

<!-- </mat-card> -->