/*
   Copyright 2019 Amazon.com, Inc. or its affiliates. All Rights Reserved.
   SPDX-License-Identifier: MIT-0
*/
/* content sticks left */
app-private{
  width: 100%;
  /* box-shadow:  none; */
}
.example-card {
   max-width: 400px;
   cursor: pointer;
   margin: 10px;
   text-shadow: 40px;
 }

 .example-header-image1 {
   background-image: url('/assets/möwen-rot.png');
   background-size: cover;
 }

 .example-header-image2 {
  background-image: url('/assets/möwen-grün.png');
  background-size: cover;
}

 .example-spacer {
  flex: 1 1 auto;
}

.mat-toolbar {
  background:none;
}