<!--
   Copyright 2019 Amazon.com, Inc. or its affiliates. All Rights Reserved.
   SPDX-License-Identifier: MIT-0
-->
<title-card></title-card>
<mat-card class="mat-elevation-z0 custom" ngClass="app-card">

    <mat-card-content> Zum Verkauf stehen zwei aneinander angrenzende besondere Objekte in Strandnähe (250m).
        Das erste Objekt ist ein mit einem Wohnhaus bebautes 500qm Grundstück.
        Direkt angrenzend befindest sich die zweite Immobilie, ein ebenfalls 500qm Grundstück. Dieses ist noch
        unbebaut.
    </mat-card-content>
</mat-card>

<!-- <mat-card class="mat-elevation-z0 custom" fxFlex="1 1 auto" ngClass="app-card"> -->
<mat-card class="mat-elevation-z0 custom" ngClass="app-card">
    <!-- <mat-toolbar>
        <button mat-raised-button [color]="pdfButtonColor1" (click)="pdf1()" class="pdf-button"
            aria-label="1 Grundstück + Haus Exposé laden">
            Gründstück + Haus
        </button>
        <mat-divider [vertical]="true"></mat-divider>
        <button mat-raised-button [color]="pdfButtonColor1" (click)="pdf2()" class="pdf-button"
            aria-label="2 Gründstück Exposé laden">
            Gründstück
        </button>
    </mat-toolbar> -->
    <mat-toolbar>
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style" value="immo1">
            <mat-button-toggle (click)="pdf1()" value="immo1">Gründstück + Haus</mat-button-toggle>
            <mat-button-toggle (click)="pdf2()" value="immo2">Gründstück</mat-button-toggle>
        </mat-button-toggle-group>
    </mat-toolbar>
    <expose1-content-pdf [pdfSrc]="pdfSrc"></expose1-content-pdf>

    <!-- <mat-card-content>
        <expose1-content-pdf></expose1-content-pdf>
    </mat-card-content> -->

    <!-- <mat-card-header>
        <mat-icon mat-card-avatar>lock</mat-icon>
        <mat-card-title>Private</mat-card-title>
        <mat-card-subtitle>This is the information on your user
            that is stored in the Amazon Cognito User Pool</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <form [formGroup]="userDetailsForm" fxLayout="column">
            <div *ngFor="let detail of (userDetails | async)" fxLayout="row">
                <mat-form-field fxFlex>
                    <input matInput readonly placeholder="{{ detail.Name }}" [formControlName]="detail.Name">
                </mat-form-field>
            </div>
            <div>
                <div fxFlex></div>
                <mat-spinner *ngIf="busy | async" [diameter]="35"></mat-spinner>
                <div fxFlex></div>
            </div>
        </form>
    </mat-card-content> -->

    <mat-divider [inset]="false"></mat-divider>

    <mat-card-actions>
        <div fxFlex></div>
        <button mat-raised-button [color]="buttonColor1" (mouseover)="buttonColor1 = 'accent'"
            (mouseout)="buttonColor1 = 'primary'" (click)="signOut()">
            <div fxFlex></div>
            <div *ngIf="!(busy | async)">Abmelden</div>
            <mat-spinner *ngIf="busy | async" [diameter]="35"></mat-spinner>
            <div fxFlex></div>
        </button>
        <div fxFlex></div>
    </mat-card-actions>

    <mat-card-actions>
        <div fxFlex></div>
        <button mat-raised-button [color]="buttonColor2" (mouseover)="buttonColor2 = 'accent'"
            (mouseout)="buttonColor2 = 'primary'" (click)="openDialog()">
            <div fxFlex></div>
            <div *ngIf="!(busy | async)">Benutzer löschen / Wiederruf</div>
            <mat-spinner *ngIf="busy | async" [diameter]="35"></mat-spinner>
            <div fxFlex></div>
        </button>
        <div fxFlex></div>
    </mat-card-actions>

    <p *ngIf="errorMessage | async">{{ errorMessage | async }}</p>

</mat-card>