<!--
   Copyright 2019 Amazon.com, Inc. or its affiliates. All Rights Reserved.
   SPDX-License-Identifier: MIT-0 x
-->
<!-- <mat-grid-list cols="1" rowHeight="fit" class="grid-layout-custom"> -->
<!-- <mat-grid-tile> -->
<title-card></title-card>
<mat-card class="mat-elevation-z0 custom" ngClass="app-card">

  <mat-card-header>
    <!-- <mat-icon mat-card-avatar>lock</mat-icon> -->
    <mat-card-title>Noch nicht registriert?</mat-card-title>
    <mat-card-subtitle>Um Zugang zum Exposé zu erhalten, müssen Sie zunächst den Nutzugsbedingungen zustimmen und
      sich
      registrieren.
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-actions>
    <div fxFlex></div>
    <button mat-raised-button [color]="buttonColor1" (mouseover)="buttonColor1 = 'accent'"
      (mouseout)="buttonColor1 = 'primary'" (click)="signUp()" [disabled]="(busy1 | async)">
      <div fxFlex></div>
      <div *ngIf="!(busy1 | async)">Jetzt Registrieren</div>
      <mat-spinner *ngIf="busy1 | async" [diameter]="35"></mat-spinner>
      <div fxFlex></div>
    </button>
    <div fxFlex></div>
  </mat-card-actions>
</mat-card>
<!-- </mat-grid-tile> -->
<!-- <mat-grid-tile> -->
<mat-card class="mat-elevation-z0 custom" ngClass="app-card">
  <mat-card-header>
    <!-- <mat-icon mat-card-avatar>lock</mat-icon> -->
    <mat-card-title>Schon registriert? Bitte melden Sie sich an.</mat-card-title>
    <!-- <mat-card-subtitle>Enter your e-mail address and we'll send you a one-time secret sign-in code</mat-card-subtitle> -->
    <mat-card-subtitle>Wenn Sie schon registriert sind, geht es hier direkt zum Exposé. Geben Sie ihre
      E-Mail-Adresse
      an
      und erhalten Sie einen einmaligen Anmeldecode.
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <!-- <form fxLayout="row" fxLayoutAlign="center stretch"> -->
    <form fxLayout="column" [style.margin]="'0 16px 0 16px'">
      <!-- <form fxLayout="column"> -->
      <mat-form-field>
        <input matInput placeholder="E-mail" [formControl]="email" type="email" email name="email"
          autocomplete="username email" />
      </mat-form-field>
    </form>
  </mat-card-content>

  <mat-card-actions>
    <div fxFlex></div>
    <button mat-raised-button [color]="buttonColor2" (mouseover)="buttonColor2 = 'accent'"
      (mouseout)="buttonColor2 = 'primary'" (click)="signIn()" [disabled]="(busy2 | async)">
      <div fxFlex></div>
      <div *ngIf="!(busy2 | async)">Anmelden</div>
      <mat-spinner *ngIf="busy2 | async" [diameter]="35"></mat-spinner>
      <div fxFlex></div>
    </button>
    <div fxFlex></div>
  </mat-card-actions>

  <p class="error-message" *ngIf="errorMessage | async">{{ errorMessage | async }}</p>
</mat-card>
<!-- <mat-card-content>
    <div fxFlex></div>
    <p>Sie haben sich noch nicht registriert? <a routerLink='/sign-up' routerLinkActive="active">Hier registrieren</a>
    </p>
  </mat-card-content> -->
<mat-card class="mat-elevation-z0 custom" ngClass="app-card">
  <mat-card-content>
    <div fxLayout="column" fxLayoutAlign="center center"> <span><a
          href='https://planungsbuero-schulz.de/#kontakt-impressum' target="_blank">Impressum</a> | <a
          href='https://planungsbuero-schulz.de/?page_id=286' target="_blank">Datenschutzerklärung</a></span></div>


  </mat-card-content>
</mat-card>
<!-- <mat-card class="mat-elevation-z0 custom" ngClass="app-card">
  <mat-card-content>

    <div>
      <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
        <defs>
          <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
        </defs>
        <g class="parallax">
          <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
          <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
          <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
          <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
        </g>
      </svg>
    </div>

  </mat-card-content>
</mat-card> -->
<!-- </mat-grid-tile> -->
<!-- </mat-grid-list> -->